.btn-box {
  height: 100%;
}

.btn {
  height: 100%;
  font-size: 14px;
  font-weight: 100;
  padding: 0;
  padding-inline: 26px;
  border: none;
  background-color: inherit;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: rgb(26, 117, 255);
  }

  &:disabled {
    background-color: rgb(26, 117, 255);
  }
}
